.mainscreen{

    height: 100vh;
    display: flex;
    flex-direction: column;
    // background-color: darkgreen;

    &__body{
        display: flex;
        flex: 1;
    }

    &__left{
        flex-basis: 30%;
    }

    &__center{
        height: 100vh;
        flex-basis: 39%;      
        overflow-y: auto; 
        overflow-x: hidden;

        &::-webkit-scrollbar {
            display: none;
        }
        
    }

    &__right{
        flex:1;
        // background-color: darkkhaki;
    }

}