.modal{
    background-color: $white;
    border-radius: 5px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    left: 77.5%;
    padding: 1rem;
    position: absolute;
    top: 100%;
    width: 33rem;

    p{
        color: $dark-grey;
        font-size: 1.45rem;
        
    }

    &__top, &__bottom{
        display: flex;
        align-items: center;
        border-radius: 5px;
        cursor: pointer;

        &:hover{
            background-color: $background;
        }
        // background-color: darkkhaki;
    }

    &__top{
        padding-bottom: 1.5rem;        
        margin-bottom: .8rem;
        padding: 0 0.5rem;   
     
    }

    &__separator{
        border-bottom: 1px solid darken($color: $background, $amount: 5);
        margin-bottom: 5rem;
    }

    &__bottom{
        
        padding: 5px ;

        p{
            font-size: 1.3rem;
            margin-left: 1rem;
        }

        
    }

    &__user-info{

        margin-left: 1rem;        

        span{
            font-size: 1.25rem;
        }

    }

    &__close-icon{
        align-items: center;
        display: flex;
        justify-content: center;
        width: 3.5rem;
        height: 3.5rem;
        background-color: darken($color: $background, $amount: 5); 
        border-radius: 999px;
        font-size: 2.3rem;
    }
}