* {
    margin:0;
    padding: 0;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

body{
    font-family: "Segoe UI ", Helvetica;
    background-color: #eff2f5;
    height: 100vh;
}

.block{
    width: 100%;
}

.font-medium{
    font-size: 1.9rem;
    font-weight: bold;
}

.mt-2{
    margin-top: 2rem;
}

.mt-3{
    margin-top: 3rem;
}

